.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue-darker);
  color: #fff;
  height: 60px;
  border-bottom: 1px solid var(--color-border);
}

.MainIcon {
  height: 45px;
  width: 45px;
  margin: 10px;
}

.SideMenu {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: var(--color-blue-darker);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.SideMenu li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-blue-dark);
  cursor: pointer;
}

.SideMenu a {
  text-decoration: none;
  color: #fff;
}