:root {
  --color-blue-one: #002769;
  --color-blue-two: #005589;
  --color-blue-three: #00407b;
  --color-blue-four: #00749f;
  --color-blue-five: #00b0ff;
  --color-blue-dark: #001841;
  --color-blue-darker: #00102b;
  --color-border: #ffffff33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: var(--color-blue-darker);
}

.page {
  margin: 10px;
}

.hide-menu {
  transform: translateX(-100%);
  display: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}